@{
	ViewData["Title"] = "Home Page";
}
@model string
<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	@if (Convert.ToString(@ViewData["last_visited"]).Count() == 0)
	{
		<p>Last visited student: None visited yet</p>
	}
	else
	{
		<p>Last visited student: @ViewData["last_visited"]</p>
	}
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
