@{
	ViewData["Title"] = "Home Page";
}

@model DashboardVM;

@section Styles
{
	<!-- Plugin css for this page -->
	<link rel="stylesheet" href="~/assets/vendors/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
	<!-- End plugin css for this page -->
}

<div class="row">
	<div class="col-md-12 stretch-card grid-margin">
		<div class="card bg-gradient-danger card-img-holder text-white">
			<div class="card-body">
				<img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
				<h4 class="font-weight-normal mb-3">
					Instructors <i class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
				</h4>
				<h2 class="mb-5">Count</h2>
				<h6 class="card-text">@Model.InstructorCount</h6>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 stretch-card grid-margin">
		<div class="card bg-gradient-info card-img-holder text-white">
			<div class="card-body">
				<img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
				<h4 class="font-weight-normal mb-3">
					Courses <i class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
				</h4>
				<h2 class="mb-5">Count</h2>
				<h6 class="card-text">@Model.CourseCount</h6>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 stretch-card grid-margin">
		<div class="card bg-gradient-success card-img-holder text-white">
			<div class="card-body">
				<img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
				<h4 class="font-weight-normal mb-3">
					Departments <i class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
				</h4>
				<h2 class="mb-5">Count</h2>
				<h6 class="card-text">@Model.DepartmentCount</h6>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 stretch-card grid-margin">
		<div class="card bg-gradient-success card-img-holder text-white">
			<div class="card-body">
				<img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
				<h4 class="font-weight-normal mb-3">
					Students <i class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
				</h4>
				<h2 class="mb-5">Count</h2>
				<h6 class="card-text">@Model.StudentCount</h6>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<!-- Custom js for this page -->
	<script src="~/assets/js/dashboard.js"></script>
	<!-- End custom js for this page -->
}